*.html
*.lnk
unsorted/
Languages/ccpp/*.html
Languages/ccpp/test.c
Languages/ccpp/test.cpp
Languages/ccpp/test.asm
Languages/ccpp/study/
Languages/haskell/*.html
Languages/haskell/test.hs
Languages/haskell/study/
Languages/js/*.html
Languages/js/test.js
Languages/js/study/
Languages/ps/*.html
Languages/ps/test.ps1
Languages/ps/study/
Languages/py3/*.html
Languages/py3/test.py
Languages/py3/study/
Databases/*.html
Databases/test.sql
Databases/test.db
Databases/study/
