**/datasets/
**/study/
*.html
*.lnk
languages/ccpp/*.html
languages/ccpp/test.c
languages/ccpp/test.cpp
languages/ccpp/test.asm
languages/haskell/*.html
languages/haskell/test.hs
languages/js/*.html
languages/js/test.js
languages/ps/*.html
languages/ps/test.ps1
languages/py3/*.html
languages/py3/test.py
databases/*.html
databases/test.sql
databases/test.db